.v-select-container {
	position: relative;
}
.v-select-icon {
	width: 0px;
	height: 0px;
	position: absolute;
	right: 15px;
	border-top: 5px solid #666;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
}
.v-select-value-wrapper {
	cursor: pointer;
}
.v-select-value {
	user-select: none;
}
.v-select-placeholder {
	color: #666;
}
.v-select-dropdown {
	width: 100%;
	padding-top: 12px;
	position: absolute;
	top: 50px;
	z-index: 10;
}
.v-select-search-wrapper {
	padding-left: 15px;
	padding-right: 15px;
}
.v-select-option-wrapper {
	max-height: 200px;
	overflow-y: auto;
	list-style: none;
	margin-top: 10px;
	margin-bottom: 0;
	padding-left: 0;
}
.v-select-option-wrapper li {
	padding: 7px 15px;
	user-select: none;
}
.v-select-option-wrapper li:hover {
	background-color: #daf6ff;
	cursor: pointer;
}
.v-select-option-wrapper li.active {
	background-color: #daf6ff;
}